/* if desktop */
.mobile_device_380px {
    display: none;
}
.mobile_device_480px {
    display: none;
}
/* if mobile device max width 380px */
@media only screen and (min-device-width : 0px) and (max-device-width : 380px){
    .mobile_device_380px{display: block;} 
    .mobile_device_480px{display: none;}      
    .desktop {display: none;}
} 

/* if mobile device max width 480px */
@media only screen and (min-device-width : 381px) and (max-device-width: 480px){
   .mobile_device_480px{display: block;}
   .mobile_device_380px{display: none;}
   .desktop {display: none;}
}
body{
    background-color: rgb(11,24,46);
}
.header{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}
.linkcolorgrey{
    color: #888d98;
}
.navlogo{
    margin-right: auto;
}
.navmenu{
    margin-left: auto;
}
.headmenu{
    display: flex;
    list-style: none;
    justify-items: auto;
  }
li{
    list-style: none;
    font-size: larger;
    padding-left:10px
}  
i{
    font-size: 25px;
    margin-right: right;
    
}
a:link {
    text-decoration: none;
  }
a:hover{
    animation:infinite;
    animation-name: glow;
}
a:active {
  text-decoration: white;
}
#logo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.front{
padding-top: 100px;
padding-left: 100px;
}
h1{
    margin-top: 0px;
    font-size: 72px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0%;
    font-size: 48px;
}
h3{
    margin-top: 0%;
    font-size: 30px;
    }
p{
    font-size: 19px;
    color: #559480;
}
.focus{
    color: #cec727;
}
.hea{
    color: #8cdcc3;
}
.symbols{
color: skyblue;
padding-left: 10px;
}
.outline-button {
    padding-top: 3%;
    border: 2px solid #cec727;
    background-color: transparent;
    color: #cec727;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  .social{
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
  }
.work{
    padding-left: 100px;
    padding-top: 130px;
    margin-bottom: 50px;
    padding-right: 100px;
}
.aboutus{
    padding-left: 100px;
    padding-top: 130px;
    margin-bottom: 50px;
    padding-right: 100px;
    display: flex;
}
.abtd{
    padding-right: 50px;
}
#photo{
    border-radius: 10px;

}
.abti{
    padding-top: 60px;
}
.wphoto{
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-top: 100px;
}
.roww{
    display: flex;
    
}
.rowin{
    padding-left: 30px;
}
.workbox{
    padding-top: 50px;
}
.worklist{
    list-style-type: disc;
   color: #559480;
   padding-left: 0px;
}
.project{
    padding-left: 100px;
    padding-top: 130px;
    margin-bottom: 50px;
    padding-right: 100px;
}
.rowc{
    display: flex;
}
.card{
   margin: 15px;
   background-color: #0d1e2f;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
.cardtop{
    display: flex;
}
.iconcard{
    margin-left: auto;
}
.iconlink{
    margin-right: auto;
}
.projects{
    padding-left: 100px;
    padding-top: 130px;
    margin-bottom: 50px;
    padding-right: 100px;
}
#m380logo{
    padding-left: 2%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: auto;
}
.mob_380_nav{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    display: flex;
    margin-right: auto;
}
.m380_menu{
    margin-left: auto;
}
.mylinks{
    display: -ms-flexbox;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }
.mob_380men{
    font-size: larger;
}
.mob_380row{
    padding-top: 5%;
    display: flex;
}
.mob380_wphoto{
    margin-left: auto;
    margin-right: 2%;
    border-radius: 10px;
    width: 150px;
    padding-top: 3%;
}
.mob380_wi{
    padding-left: 5%;
}
.mob380_sub{
    font-size: 30px;
}
.mob380_card{
    margin-top: 100px;
}
.icon_logo{
    width: 40px;
}
